<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <ComponentGroup Id="GdalData">
            <Component Id="cmpDC3BF4F98FFC0E15B8DBBC0AC6C1526B" Directory="INSTALLDIR" Guid="*">
                <File Id="fil68AABFD98CEE5B5B33819771BF3BC42B" KeyPath="yes" Source="$(var.SolutionDir)MapManager\bin\$(var.Platform)\$(var.Configuration)\bag_template.xml" />
            </Component>
            <Component Id="cmp92E0433E00725FA7A56BFBCAD4C05F6E" Directory="INSTALLDIR" Guid="*">
                <File Id="fil4773CEB546F192267DFBF3C010F1607E" KeyPath="yes" Source="$(var.SolutionDir)MapManager\bin\$(var.Platform)\$(var.Configuration)\cubewerx_extra.wkt" />
            </Component>
            <Component Id="cmpC49BEC3CA2E2D7E9F955B074734D6418" Directory="INSTALLDIR" Guid="*">
                <File Id="filC8BB1528BC5C4992897C4D3D98F0B5A4" KeyPath="yes" Source="$(var.SolutionDir)MapManager\bin\$(var.Platform)\$(var.Configuration)\default.rsc" />
            </Component>
            <Component Id="cmp4ECCCBD39B094BC0068F55AB30C33074" Directory="INSTALLDIR" Guid="*">
                <File Id="filEB40323D74BBD7083DC0486053587C88" KeyPath="yes" Source="$(var.SolutionDir)MapManager\bin\$(var.Platform)\$(var.Configuration)\ecw_cs.wkt" />
            </Component>
            <Component Id="cmp32A1E9D48FCFB78046F48454C45FB03A" Directory="INSTALLDIR" Guid="*">
                <File Id="fil55CD9EA688E9468D79CFD9AEB5B031D6" KeyPath="yes" Source="$(var.SolutionDir)MapManager\bin\$(var.Platform)\$(var.Configuration)\eedaconf.json" />
            </Component>
            <Component Id="cmpFE43C53BF8EC975758F58F04201C09AD" Directory="INSTALLDIR" Guid="*">
                <File Id="fil1E54B163F69200F3BD4845FA6D71E067" KeyPath="yes" Source="$(var.SolutionDir)MapManager\bin\$(var.Platform)\$(var.Configuration)\epsg.wkt" />
            </Component>
            <Component Id="cmpCA3724CE566A605F50838AB1F7DDF221" Directory="INSTALLDIR" Guid="*">
                <File Id="fil257F15475B19EFD9A513795882EC1893" KeyPath="yes" Source="$(var.SolutionDir)MapManager\bin\$(var.Platform)\$(var.Configuration)\esri_StatePlane_extra.wkt" />
            </Component>
            <Component Id="cmp7927EA11777D9EFB79208AB4CE8EA174" Directory="INSTALLDIR" Guid="*">
                <File Id="filD569B6E356E097A7E798B1012FC43FAA" KeyPath="yes" Source="$(var.SolutionDir)MapManager\bin\$(var.Platform)\$(var.Configuration)\gdalicon.png" />
            </Component>
            <Component Id="cmp444AE9112570157E0B376CD4137763FB" Directory="INSTALLDIR" Guid="*">
                <File Id="fil50B150BDF2E30FC10FA333A4F9F6A01A" KeyPath="yes" Source="$(var.SolutionDir)MapManager\bin\$(var.Platform)\$(var.Configuration)\GDALLogoBW.svg" />
            </Component>
            <Component Id="cmp5FE8907F058252D36633E750A2945873" Directory="INSTALLDIR" Guid="*">
                <File Id="filAF2A2F6A37FEAA4B88AB8DF33D87921A" KeyPath="yes" Source="$(var.SolutionDir)MapManager\bin\$(var.Platform)\$(var.Configuration)\GDALLogoColor.svg" />
            </Component>
            <Component Id="cmpD48F74F12DDAE86C48F8323141214236" Directory="INSTALLDIR" Guid="*">
                <File Id="fil187693BAE0221738966FE00859B26CA8" KeyPath="yes" Source="$(var.SolutionDir)MapManager\bin\$(var.Platform)\$(var.Configuration)\GDALLogoGS.svg" />
            </Component>
            <Component Id="cmpCEFFCF88CA60AC03680105D9B79FA65B" Directory="INSTALLDIR" Guid="*">
                <File Id="fil3DE3B808C5CE41E6F09A48E3E3566CE3" KeyPath="yes" Source="$(var.SolutionDir)MapManager\bin\$(var.Platform)\$(var.Configuration)\gdalmdiminfo_output.schema.json" />
            </Component>
            <Component Id="cmpF4B558171233DECCBDD27EDE4264E5B0" Directory="INSTALLDIR" Guid="*">
                <File Id="filB1816E892CD8AFEE0FEE3C241A21B257" KeyPath="yes" Source="$(var.SolutionDir)MapManager\bin\$(var.Platform)\$(var.Configuration)\gdalvrt.xsd" />
            </Component>
            <Component Id="cmp68A69E7AD77C43619FE17AD883976B0B" Directory="INSTALLDIR" Guid="*">
                <File Id="fil6512C42BB68CEB2EE882066D550A4514" KeyPath="yes" Source="$(var.SolutionDir)MapManager\bin\$(var.Platform)\$(var.Configuration)\gmlasconf.xml" />
            </Component>
            <Component Id="cmpCE563DAAD716D040955C34F3A4325783" Directory="INSTALLDIR" Guid="*">
                <File Id="fil4FBA0531C7853FDD8CF0104AEBBC722C" KeyPath="yes" Source="$(var.SolutionDir)MapManager\bin\$(var.Platform)\$(var.Configuration)\gmlasconf.xsd" />
            </Component>
            <Component Id="cmp000D9375D43FE52B68E0712745A099AF" Directory="INSTALLDIR" Guid="*">
                <File Id="filC637399CB2A3C92C7E0A3E64996A89CD" KeyPath="yes" Source="$(var.SolutionDir)MapManager\bin\$(var.Platform)\$(var.Configuration)\gml_registry.xml" />
            </Component>
            <Component Id="cmpAA35D1DED45003B9089992D33CF7748F" Directory="INSTALLDIR" Guid="*">
                <File Id="filE49FB86BC8D4D20D712717D799DF0681" KeyPath="yes" Source="$(var.SolutionDir)MapManager\bin\$(var.Platform)\$(var.Configuration)\gt_datum.csv" />
            </Component>
            <Component Id="cmpB6B450F7E9D1E258A79E6F549745D91D" Directory="INSTALLDIR" Guid="*">
                <File Id="fil69219A8148FCE895086818E732D9B1BC" KeyPath="yes" Source="$(var.SolutionDir)MapManager\bin\$(var.Platform)\$(var.Configuration)\gt_ellips.csv" />
            </Component>
            <Component Id="cmp61CB8CD8A910F3286DE4715D98D61291" Directory="INSTALLDIR" Guid="*">
                <File Id="filFB44C7CBE7765ACF88979AD272E832B1" KeyPath="yes" Source="$(var.SolutionDir)MapManager\bin\$(var.Platform)\$(var.Configuration)\header.dxf" />
            </Component>
            <Component Id="cmp364665FA7BAE12198703D822045E4881" Directory="INSTALLDIR" Guid="*">
                <File Id="filB8E8432D3F76DA23871DD19C54C62A29" KeyPath="yes" Source="$(var.SolutionDir)MapManager\bin\$(var.Platform)\$(var.Configuration)\inspire_cp_BasicPropertyUnit.gfs" />
            </Component>
            <Component Id="cmp413CF19409BAE8BC08E8A35AA2B6CB49" Directory="INSTALLDIR" Guid="*">
                <File Id="fil4D9BB4598739782E2840A4C88D9457AE" KeyPath="yes" Source="$(var.SolutionDir)MapManager\bin\$(var.Platform)\$(var.Configuration)\inspire_cp_CadastralBoundary.gfs" />
            </Component>
            <Component Id="cmpB269FC526FFD559D07122630E5CDE111" Directory="INSTALLDIR" Guid="*">
                <File Id="filB68D00A6B46DD7BAD662AE36C315CF9C" KeyPath="yes" Source="$(var.SolutionDir)MapManager\bin\$(var.Platform)\$(var.Configuration)\inspire_cp_CadastralParcel.gfs" />
            </Component>
            <Component Id="cmpC59E693A4A169A678B033C5AEE67307D" Directory="INSTALLDIR" Guid="*">
                <File Id="fil2AF98C1A9AD854E94BE4013C3D3DF248" KeyPath="yes" Source="$(var.SolutionDir)MapManager\bin\$(var.Platform)\$(var.Configuration)\inspire_cp_CadastralZoning.gfs" />
            </Component>
            <Component Id="cmp43885E893AD082B110EADD0DA1E263C3" Directory="INSTALLDIR" Guid="*">
                <File Id="fil7A8F78C3FFCC15730DD6C2C2746C84AA" KeyPath="yes" Source="$(var.SolutionDir)MapManager\bin\$(var.Platform)\$(var.Configuration)\jpfgdgml_AdmArea.gfs" />
            </Component>
            <Component Id="cmp5830B670057D20054C331C0CE0656050" Directory="INSTALLDIR" Guid="*">
                <File Id="filD1264F6518DCB65C995CB76E81E5E282" KeyPath="yes" Source="$(var.SolutionDir)MapManager\bin\$(var.Platform)\$(var.Configuration)\jpfgdgml_AdmBdry.gfs" />
            </Component>
            <Component Id="cmpE9690033A4EA48DA47A14511788F02CB" Directory="INSTALLDIR" Guid="*">
                <File Id="filDFCA3311198667F5DD75D24D4359C1A0" KeyPath="yes" Source="$(var.SolutionDir)MapManager\bin\$(var.Platform)\$(var.Configuration)\jpfgdgml_AdmPt.gfs" />
            </Component>
            <Component Id="cmp9053BFF4DEFF22A6ED3660CC6D9ECFA0" Directory="INSTALLDIR" Guid="*">
                <File Id="fil00E661C37224B895371AFE8F4B1AC26B" KeyPath="yes" Source="$(var.SolutionDir)MapManager\bin\$(var.Platform)\$(var.Configuration)\jpfgdgml_BldA.gfs" />
            </Component>
            <Component Id="cmpE2C6D8B33115D8768E0E97706EC5FF34" Directory="INSTALLDIR" Guid="*">
                <File Id="fil897825CB8E487AD48519BA312B8A2785" KeyPath="yes" Source="$(var.SolutionDir)MapManager\bin\$(var.Platform)\$(var.Configuration)\jpfgdgml_BldL.gfs" />
            </Component>
            <Component Id="cmp846315AFC6F2A34A1D1FCB4967EC8481" Directory="INSTALLDIR" Guid="*">
                <File Id="filD292716A593EFF013D6C1E04F3B3066A" KeyPath="yes" Source="$(var.SolutionDir)MapManager\bin\$(var.Platform)\$(var.Configuration)\jpfgdgml_Cntr.gfs" />
            </Component>
            <Component Id="cmpA74731C98421DAFA5EA82F3D9168C03D" Directory="INSTALLDIR" Guid="*">
                <File Id="filB6F01559B9B685CB69EE7260454E59F6" KeyPath="yes" Source="$(var.SolutionDir)MapManager\bin\$(var.Platform)\$(var.Configuration)\jpfgdgml_CommBdry.gfs" />
            </Component>
            <Component Id="cmpA4AE11A6F1238E0C7EB8F27AF388BD61" Directory="INSTALLDIR" Guid="*">
                <File Id="fil2E0F25151250D441A75ACF3EC4A53B77" KeyPath="yes" Source="$(var.SolutionDir)MapManager\bin\$(var.Platform)\$(var.Configuration)\jpfgdgml_CommPt.gfs" />
            </Component>
            <Component Id="cmp16101FFD43F9C7C960B89DA53784E37F" Directory="INSTALLDIR" Guid="*">
                <File Id="fil134C1DC1316FEFDA9E4FF4324B92AAF8" KeyPath="yes" Source="$(var.SolutionDir)MapManager\bin\$(var.Platform)\$(var.Configuration)\jpfgdgml_Cstline.gfs" />
            </Component>
            <Component Id="cmp174EF56FA676CD472837D6D85B6A8FEE" Directory="INSTALLDIR" Guid="*">
                <File Id="fil9C1BA875F25646D8ADB2DB542DE4AB23" KeyPath="yes" Source="$(var.SolutionDir)MapManager\bin\$(var.Platform)\$(var.Configuration)\jpfgdgml_ElevPt.gfs" />
            </Component>
            <Component Id="cmp5B6EEF042EF470604540E99902585971" Directory="INSTALLDIR" Guid="*">
                <File Id="fil20EFF6E7DF74BCEBD0F33BBBAC5FDE54" KeyPath="yes" Source="$(var.SolutionDir)MapManager\bin\$(var.Platform)\$(var.Configuration)\jpfgdgml_GCP.gfs" />
            </Component>
            <Component Id="cmp180F0701D6AB1F8274DEC9D2CCE4914C" Directory="INSTALLDIR" Guid="*">
                <File Id="fil1B01B0A98617A8D3279CAE1CD5A4257E" KeyPath="yes" Source="$(var.SolutionDir)MapManager\bin\$(var.Platform)\$(var.Configuration)\jpfgdgml_LeveeEdge.gfs" />
            </Component>
            <Component Id="cmp20180F29249ED3FCF89CD9FE9FF75173" Directory="INSTALLDIR" Guid="*">
                <File Id="fil2CAAAD743200F9A6C6FC6C310665130E" KeyPath="yes" Source="$(var.SolutionDir)MapManager\bin\$(var.Platform)\$(var.Configuration)\jpfgdgml_RailCL.gfs" />
            </Component>
            <Component Id="cmp43118459ABB75B72B7B0156E7669F8BD" Directory="INSTALLDIR" Guid="*">
                <File Id="filE792FA85511B4E6381CBDFE3A8490A1A" KeyPath="yes" Source="$(var.SolutionDir)MapManager\bin\$(var.Platform)\$(var.Configuration)\jpfgdgml_RdArea.gfs" />
            </Component>
            <Component Id="cmp164B716248B7EADA0612CFD07416364D" Directory="INSTALLDIR" Guid="*">
                <File Id="fil0628856227CF5D7209D71A7884C24B2D" KeyPath="yes" Source="$(var.SolutionDir)MapManager\bin\$(var.Platform)\$(var.Configuration)\jpfgdgml_RdASL.gfs" />
            </Component>
            <Component Id="cmpA25A8B0FECEF4B085E9F5D2C579E5770" Directory="INSTALLDIR" Guid="*">
                <File Id="filA3799AB9916904794A3F70EA450928FB" KeyPath="yes" Source="$(var.SolutionDir)MapManager\bin\$(var.Platform)\$(var.Configuration)\jpfgdgml_RdCompt.gfs" />
            </Component>
            <Component Id="cmpF89108483C4A68720908F587F5FE5885" Directory="INSTALLDIR" Guid="*">
                <File Id="fil23085BF8CE9824C174A96A5F0BF92666" KeyPath="yes" Source="$(var.SolutionDir)MapManager\bin\$(var.Platform)\$(var.Configuration)\jpfgdgml_RdEdg.gfs" />
            </Component>
            <Component Id="cmpE4742B3D397AA91E46404B97A7E73221" Directory="INSTALLDIR" Guid="*">
                <File Id="fil683C3C64080EF5705C32FF0ED096EB19" KeyPath="yes" Source="$(var.SolutionDir)MapManager\bin\$(var.Platform)\$(var.Configuration)\jpfgdgml_RdMgtBdry.gfs" />
            </Component>
            <Component Id="cmp58E763A1EA788DD50DF70D64EEBA0220" Directory="INSTALLDIR" Guid="*">
                <File Id="fil683965CE11814F23713E33949F2A4A35" KeyPath="yes" Source="$(var.SolutionDir)MapManager\bin\$(var.Platform)\$(var.Configuration)\jpfgdgml_RdSgmtA.gfs" />
            </Component>
            <Component Id="cmpFB5FCC80D963F8722C22381DD0999A84" Directory="INSTALLDIR" Guid="*">
                <File Id="fil5499A6597F7C1E2BE1C37225BDDDACF1" KeyPath="yes" Source="$(var.SolutionDir)MapManager\bin\$(var.Platform)\$(var.Configuration)\jpfgdgml_RvrMgtBdry.gfs" />
            </Component>
            <Component Id="cmp74980162DB37FE1659EEBBCECB363211" Directory="INSTALLDIR" Guid="*">
                <File Id="fil8D37E1D817E718BC8FC02FDFC83A0116" KeyPath="yes" Source="$(var.SolutionDir)MapManager\bin\$(var.Platform)\$(var.Configuration)\jpfgdgml_SBAPt.gfs" />
            </Component>
            <Component Id="cmp3796C0F4049FED85BD6354338342324B" Directory="INSTALLDIR" Guid="*">
                <File Id="filDE8EA7D1112BE48AED1711D64607C95F" KeyPath="yes" Source="$(var.SolutionDir)MapManager\bin\$(var.Platform)\$(var.Configuration)\jpfgdgml_SBArea.gfs" />
            </Component>
            <Component Id="cmp00FE69E1CCC91F34A6D3F754633E4AF3" Directory="INSTALLDIR" Guid="*">
                <File Id="fil8479688255B112404773EA5F7636F6FA" KeyPath="yes" Source="$(var.SolutionDir)MapManager\bin\$(var.Platform)\$(var.Configuration)\jpfgdgml_SBBdry.gfs" />
            </Component>
            <Component Id="cmp293EDE19899399435914068DE74D5257" Directory="INSTALLDIR" Guid="*">
                <File Id="fil7D3A196F4CE2F55AEEE8FB414E6B4461" KeyPath="yes" Source="$(var.SolutionDir)MapManager\bin\$(var.Platform)\$(var.Configuration)\jpfgdgml_WA.gfs" />
            </Component>
            <Component Id="cmpC82670394C26A18ED49F4F01AE60F2BE" Directory="INSTALLDIR" Guid="*">
                <File Id="fil8F0E6F35941DF9F533255E8307D26171" KeyPath="yes" Source="$(var.SolutionDir)MapManager\bin\$(var.Platform)\$(var.Configuration)\jpfgdgml_WL.gfs" />
            </Component>
            <Component Id="cmp7243F42BB84E29CDA4C815F79EE01D9C" Directory="INSTALLDIR" Guid="*">
                <File Id="fil8479403B453969762C915D6BF4E43E4B" KeyPath="yes" Source="$(var.SolutionDir)MapManager\bin\$(var.Platform)\$(var.Configuration)\jpfgdgml_WStrA.gfs" />
            </Component>
            <Component Id="cmp9B588CA117D98CDFEDC1C1E5BDFA38FD" Directory="INSTALLDIR" Guid="*">
                <File Id="filD0C98AA5DD9393C91312B67B5868DE09" KeyPath="yes" Source="$(var.SolutionDir)MapManager\bin\$(var.Platform)\$(var.Configuration)\jpfgdgml_WStrL.gfs" />
            </Component>
            <Component Id="cmp911686AA112FDA007F701157E558318A" Directory="INSTALLDIR" Guid="*">
                <File Id="fil198E7EA52AB966AE8B79135E2B76DC02" KeyPath="yes" Source="$(var.SolutionDir)MapManager\bin\$(var.Platform)\$(var.Configuration)\netcdf_config.xsd" />
            </Component>
            <Component Id="cmpF00BF4D578EE4B91BF4F5D3214CB8C32" Directory="INSTALLDIR" Guid="*">
                <File Id="filE90BA7024D83B02E1BC489CF6D2099F6" KeyPath="yes" Source="$(var.SolutionDir)MapManager\bin\$(var.Platform)\$(var.Configuration)\nitf_spec.xml" />
            </Component>
            <Component Id="cmp60B452E870C19DCB3964F6A04EDECCC9" Directory="INSTALLDIR" Guid="*">
                <File Id="filF3BBB10DA6A0FF48D427F8F31EB584DB" KeyPath="yes" Source="$(var.SolutionDir)MapManager\bin\$(var.Platform)\$(var.Configuration)\nitf_spec.xsd" />
            </Component>
            <Component Id="cmpECF0615D80B909B0EAF4B0203B71B482" Directory="INSTALLDIR" Guid="*">
                <File Id="fil413E2D780886AD69D741D26AE7C339D1" KeyPath="yes" Source="$(var.SolutionDir)MapManager\bin\$(var.Platform)\$(var.Configuration)\ogrvrt.xsd" />
            </Component>
            <Component Id="cmp629673BF908D1A4EB242F9A7DC6F57F3" Directory="INSTALLDIR" Guid="*">
                <File Id="fil76ED39BC9A55DA68825C0A11947E0C03" KeyPath="yes" Source="$(var.SolutionDir)MapManager\bin\$(var.Platform)\$(var.Configuration)\osmconf.ini" />
            </Component>
            <Component Id="cmp70B4F0D174A1C4F33B2E78D15F26B9E0" Directory="INSTALLDIR" Guid="*">
                <File Id="fil0F656BC61A195E71F7D33A3E1A8EC694" KeyPath="yes" Source="$(var.SolutionDir)MapManager\bin\$(var.Platform)\$(var.Configuration)\ozi_datum.csv" />
            </Component>
            <Component Id="cmpEB810A85521B6F1AC99ED686BA9CFFE2" Directory="INSTALLDIR" Guid="*">
                <File Id="filEEEBEEB75F132B1FD0B309C7F4C944D9" KeyPath="yes" Source="$(var.SolutionDir)MapManager\bin\$(var.Platform)\$(var.Configuration)\ozi_ellips.csv" />
            </Component>
            <Component Id="cmp4666108986D1D28270E760E320ACB3DF" Directory="INSTALLDIR" Guid="*">
                <File Id="fil8E107945AE481B9BAEE397F2B6426880" KeyPath="yes" Source="$(var.SolutionDir)MapManager\bin\$(var.Platform)\$(var.Configuration)\pci_datum.txt" />
            </Component>
            <Component Id="cmpBD9A16F7A984544E8BC0609D193963F7" Directory="INSTALLDIR" Guid="*">
                <File Id="filEF68F35108DC45BFA656C6BD850BEA2A" KeyPath="yes" Source="$(var.SolutionDir)MapManager\bin\$(var.Platform)\$(var.Configuration)\pci_ellips.txt" />
            </Component>
            <Component Id="cmp0BE3C6EABCEBDCE1DEDEA8841F4D384E" Directory="INSTALLDIR" Guid="*">
                <File Id="fil3F38B5A56C2A2E890F5F349C245665B6" KeyPath="yes" Source="$(var.SolutionDir)MapManager\bin\$(var.Platform)\$(var.Configuration)\pdfcomposition.xsd" />
            </Component>
            <Component Id="cmpC26CE04CC8BCBBD501FE90D27467C676" Directory="INSTALLDIR" Guid="*">
                <File Id="fil5501A69F459ECD47D0DF11D8D1498899" KeyPath="yes" Source="$(var.SolutionDir)MapManager\bin\$(var.Platform)\$(var.Configuration)\pds4_template.xml" />
            </Component>
            <Component Id="cmp66FE68AE8FAAF987A6E764E689ABAAF8" Directory="INSTALLDIR" Guid="*">
                <File Id="filB08DC3721669986710393F7D4B25410D" KeyPath="yes" Source="$(var.SolutionDir)MapManager\bin\$(var.Platform)\$(var.Configuration)\plscenesconf.json" />
            </Component>
            <Component Id="cmp41EA9175DD4ABD5569A44B6D249C00B7" Directory="INSTALLDIR" Guid="*">
                <File Id="filF1C97BE18833E723A2E9F9966BB84D43" KeyPath="yes" Source="$(var.SolutionDir)MapManager\bin\$(var.Platform)\$(var.Configuration)\ruian_vf_ob_v1.gfs" />
            </Component>
            <Component Id="cmp8173CC170C478C12124213671706F89F" Directory="INSTALLDIR" Guid="*">
                <File Id="fil83A74C6799760B014AF57F5CD5DBA5F4" KeyPath="yes" Source="$(var.SolutionDir)MapManager\bin\$(var.Platform)\$(var.Configuration)\ruian_vf_st_uvoh_v1.gfs" />
            </Component>
            <Component Id="cmpDF2C2AF25CF5FD115C0C33FEE13E501F" Directory="INSTALLDIR" Guid="*">
                <File Id="filA5C621CAC1559367395C16A9CB83F853" KeyPath="yes" Source="$(var.SolutionDir)MapManager\bin\$(var.Platform)\$(var.Configuration)\ruian_vf_st_v1.gfs" />
            </Component>
            <Component Id="cmp4F22670B31A392B7352DCE744F748440" Directory="INSTALLDIR" Guid="*">
                <File Id="fil7C9A0EB4EABFEDD5C50F43E57FABD523" KeyPath="yes" Source="$(var.SolutionDir)MapManager\bin\$(var.Platform)\$(var.Configuration)\ruian_vf_v1.gfs" />
            </Component>
            <Component Id="cmp1BAA482EF05B09EFA9C7EA3A33BE698E" Directory="INSTALLDIR" Guid="*">
                <File Id="filA9DF7F595BAA7F84896F83E95101045E" KeyPath="yes" Source="$(var.SolutionDir)MapManager\bin\$(var.Platform)\$(var.Configuration)\s57agencies.csv" />
            </Component>
            <Component Id="cmp24DA01AD5F7593C306C529CC93B53B72" Directory="INSTALLDIR" Guid="*">
                <File Id="fil19D497AF8C31DE26D6999432B12E7C36" KeyPath="yes" Source="$(var.SolutionDir)MapManager\bin\$(var.Platform)\$(var.Configuration)\s57attributes.csv" />
            </Component>
            <Component Id="cmpD25CCD6EB7CDDF67D58AA981150565AA" Directory="INSTALLDIR" Guid="*">
                <File Id="fil2B7B88EDF969BCAF313E13A173AD68B3" KeyPath="yes" Source="$(var.SolutionDir)MapManager\bin\$(var.Platform)\$(var.Configuration)\s57expectedinput.csv" />
            </Component>
            <Component Id="cmp6B8C86F0DE253276D8AE727D444ECB28" Directory="INSTALLDIR" Guid="*">
                <File Id="filFBF55C9262D3564F21E68BE2E2D28C8B" KeyPath="yes" Source="$(var.SolutionDir)MapManager\bin\$(var.Platform)\$(var.Configuration)\s57objectclasses.csv" />
            </Component>
            <Component Id="cmpF80BF92E61AA2BC8CDF1245D7D9F8B0A" Directory="INSTALLDIR" Guid="*">
                <File Id="fil5995448EF5338AB5228719A78C286744" KeyPath="yes" Source="$(var.SolutionDir)MapManager\bin\$(var.Platform)\$(var.Configuration)\seed_2d.dgn" />
            </Component>
            <Component Id="cmpF79384E7B7CE223EB03FBC197F1C8D85" Directory="INSTALLDIR" Guid="*">
                <File Id="fil32D1EDE63BF7E5742423A196888BA6B3" KeyPath="yes" Source="$(var.SolutionDir)MapManager\bin\$(var.Platform)\$(var.Configuration)\seed_3d.dgn" />
            </Component>
            <Component Id="cmpB479B4728A3461A382F473024619EE7B" Directory="INSTALLDIR" Guid="*">
                <File Id="fil1DD9103894B579ED041911FBA2667C4E" KeyPath="yes" Source="$(var.SolutionDir)MapManager\bin\$(var.Platform)\$(var.Configuration)\stateplane.csv" />
            </Component>
            <Component Id="cmp3D42AF9569D5CDB62E156E73BA95BD84" Directory="INSTALLDIR" Guid="*">
                <File Id="filFA31AD0685D05CBCD009FED4D8939229" KeyPath="yes" Source="$(var.SolutionDir)MapManager\bin\$(var.Platform)\$(var.Configuration)\template_tiles.mapml" />
            </Component>
            <Component Id="cmp138FB610E741D7B2FF8C0B4D8B5063D7" Directory="INSTALLDIR" Guid="*">
                <File Id="fil6573590771D7A55B25FB6132DF1F68DA" KeyPath="yes" Source="$(var.SolutionDir)MapManager\bin\$(var.Platform)\$(var.Configuration)\tms_LINZAntarticaMapTileGrid.json" />
            </Component>
            <Component Id="cmp1307F6AA47529407A996E713C590F831" Directory="INSTALLDIR" Guid="*">
                <File Id="filD737FABF856DEACB23C4833BA0F33C2C" KeyPath="yes" Source="$(var.SolutionDir)MapManager\bin\$(var.Platform)\$(var.Configuration)\tms_MapML_APSTILE.json" />
            </Component>
            <Component Id="cmpCDC0166CB6531BA1A41D568B93AD7503" Directory="INSTALLDIR" Guid="*">
                <File Id="fil1BD6252640B31EAFA98087EF372B0809" KeyPath="yes" Source="$(var.SolutionDir)MapManager\bin\$(var.Platform)\$(var.Configuration)\tms_MapML_CBMTILE.json" />
            </Component>
            <Component Id="cmp5BA43EC7E651E5E13C85D8A2A5AB6E96" Directory="INSTALLDIR" Guid="*">
                <File Id="fil6F7CD1C50EF65CC6A6255FE621CBE641" KeyPath="yes" Source="$(var.SolutionDir)MapManager\bin\$(var.Platform)\$(var.Configuration)\tms_NZTM2000.json" />
            </Component>
            <Component Id="cmp46E95D747764893C70EA14AA67841B46" Directory="INSTALLDIR" Guid="*">
                <File Id="fil9B9C1D72F063410881B3994D31D9424F" KeyPath="yes" Source="$(var.SolutionDir)MapManager\bin\$(var.Platform)\$(var.Configuration)\trailer.dxf" />
            </Component>
            <Component Id="cmp303C758ABAF82382A0AE0BD5A63B6E1F" Directory="INSTALLDIR" Guid="*">
                <File Id="filFD68A6FBDC9B864A65B96CF162731C62" KeyPath="yes" Source="$(var.SolutionDir)MapManager\bin\$(var.Platform)\$(var.Configuration)\vdv452.xml" />
            </Component>
            <Component Id="cmp84C671AD5586C3A7C9EE2EF523BE7B62" Directory="INSTALLDIR" Guid="*">
                <File Id="fil33B39AB5D6CA0D0DBE9DEC487C1047B8" KeyPath="yes" Source="$(var.SolutionDir)MapManager\bin\$(var.Platform)\$(var.Configuration)\vdv452.xsd" />
            </Component>
            <Component Id="cmp7D80583F8E9290979BB999EB62A22B89" Directory="INSTALLDIR" Guid="*">
                <File Id="fil4E857F9F303922BBD4773266984760B8" KeyPath="yes" Source="$(var.SolutionDir)MapManager\bin\$(var.Platform)\$(var.Configuration)\vicar.json" />
            </Component>
        </ComponentGroup>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="INSTALLDIR" />
    </Fragment>
</Wix>